<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <!-- main header -->
    <div class="bg-blue lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h3 class="m-n font-thin text-white">Tax Rate</h3>
        </div>
        <div class="col-sm-6 text-right poppins hidden-xs">
          <!-- <button class="btn btn-sm text-10 btn-primary m-r-xs report_print_triger"><i class="fa fa-print"></i>
            Print</button>
          <button class="btn btn-sm text-10 btn-info m-r-xs report_excel_triger"><i class="fa fa-file-excel-o"></i>
            XLSX</button> -->
          <!-- <button class="btn btn-sm text-10 btn-success m-r-xs report_csv_triger"><i class="fa fa-plus"></i>
            <a  (click)="addProductCategory()"> Product Category</a></button> -->
          <!-- <button class="btn btn-sm text-10 btn-info  m-r-xs report_print_triger"> <i class="fa fa-plus"></i>
                <a  href="/ro-add"> Product Category</a></button> -->
          <!-- <div class="col-sm-6 text-right hidden-xs"> <a class="btn m-b-xs w-xs btn-sm btn-success" href="">Vehicle</a> </div> -->
        </div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
      <div class="panel b-a">
        <div class="panel-body">
          <form role="form" [formGroup]="taxRate" autocomplete="off">
            <div class="row">
              <div class="col-md-12">
                <legend>
                  <span class="font-weight-600">Create Tax Rate</span>
                </legend>
              </div>
              <div class="row">
                <div class="col-lg-12">

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label font-weight-600">Select Language</label>
                      <select class="form-control " formControlName="language" name="">
                        <option *ngFor="let item of languages" value="{{item.language}}">
                          {{item.language}}</option>

                      </select>
                      <p *ngIf="taxRate.get('language')?.hasError('required')&&(submitted||taxRate.get('language')?.dirty||taxRate.get('language')?.touched )"
                        style="color: red;">
                        Language <strong>Required</strong>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label font-weight-600">Tax Name *</label>
                      <input formControlName="taxName" type="text" class="form-control">

                      <p *ngIf="taxRate.get('taxName')?.hasError('required')&&(submitted||taxRate.get('taxName')?.dirty||taxRate.get('taxName')?.touched )"
                        style="color: red;">
                        Tax Name <strong>Required</strong>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label font-weight-600">Tax Code*</label>
                      <br>
                      <input formControlName="taxCode" type="text" class="form-control" (focusout)="checkCode($event)">

                      <p *ngIf="taxRate.get('taxCode')?.hasError('required')&&(submitted||taxRate.get('taxCode')?.dirty||taxRate.get('taxCode')?.touched )"
                        style="color: red;">
                        Tax Code <strong>Required</strong>
                      </p>
                      <p *ngIf="taxRate.get('taxCode')?.hasError('isExist')&&!taxRate.get('taxCode')?.hasError('required')&&(submitted||taxRate.get('taxCode')?.dirty||taxRate.get('taxCode')?.touched )"
                        style="color: red;">
                        Tax Code <strong>Already Exist</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label font-weight-600"> Tax Rate*</label>
                      <input formControlName="taxRate" type="number" class="form-control">
                      <p *ngIf="taxRate.get('taxRate')?.hasError('required')&&(submitted||taxRate.get('taxRate')?.dirty||taxRate.get('taxRate')?.touched )"
                        style="color: red;">
                        Tax Rate <strong>Required</strong>
                      </p>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label font-weight-600"> Tax Type*</label><br>
                      <!-- <input formControlName="taxType" type="text" class="form-control"> -->
                      <input type="radio" formControlName="taxType" name="taxCode" value='Percentage'>
                      <span>Percentage</span>
                      <input type="radio" formControlName="taxType" name="taxCode" value='Fixed'>Fixed
                      <p *ngIf="taxRate.get('taxType')?.hasError('required')&&(submitted||taxRate.get('taxType')?.dirty||taxRate.get('taxType')?.touched )"
                        style="color: red;">
                        Tax Type <strong>Required</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <hr />
            <div class="button-right">
              <div class="row">
                <div class="col-md-12">
                  <a class="btn m-b-xs btn-md btn-success mr-5" style="margin-right:1.5px ;"
                    (click)="onSubmit()">Save</a>

                  <!-- <a class="btn m-b-xs btn-md btn-primary mr-5 " style="margin-right:1.5px ;"
                    (click)="onSubmitNew()">Save and New</a> -->
                  <a class="btn m-b-xs btn-md btn-default mr-5" style="margin-right:1.5px ;"
                    (click)="cancel()">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>


</div>