<div class="container">
    <div id="content" role="main">
        <div class="app-content-body ">
            <div class="wrapper-md">
                <div class="panel b-a">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <legend>
                                <span class="font-weight-600">Terms and Conditions</span>
                            </legend>
                        </div>
                        <div class="col-md-12">

                            <ul>
                                <li>THIS IS YOUR TICKET, DO NOT DUPLICATE, ONE ENTRY PER BARCODE</li>
                                <li>This ticket is issued on behalf of the Event Organizer responsible for the event and
                                    is subject to the following terms
                                    and conditions.</li>
                                <li>Age Limit: Open to all</li>
                                <li>Entry to venue would be subject to security check.</li>
                                <li>Each tickets is valid for 1 entry.</li>
                                <li>Re-entry is not allowed.</li>
                                <li>Visitors are advised not to carry large handbags, briefcases, large ladies handbags,
                                    backpacks, packets, etc.</li>
                                <li>As smoking in public places is prohibited by law, please do not carry cigar,
                                    cigarette, beedi, race box, lighter etc.</li>
                                <li>Any kind of cooked / uncooked, packed/unpacked food & beverages (both alcoholic and
                                    non-alcoholic) will not be allowed
                                    in the venue</li>
                                <li>Glass/plastic containers, cans, bottles, smoke canister and any type of box will not
                                    be allowed in the venue</li>
                                <li>Pets will not be allowed in the venue</li>
                                <li>Any fire arm/weapon (even licensed) or any other object which can be used as a
                                    weapon, fireworks, crackers, flares,
                                    inflammable material, laser pointers etc is not allowed in the venue.</li>
                                <li>Musical instruments and/or amplification equipment, whistles / loud hailers are not
                                    allowed in the venue</li>
                                <li>Bicycle, scooter, skateboard, rollerblade etc. are not allowed in the venue</li>
                                <li>Chairs, stools, small tables, flags with poles are not allowed in the venue</li>
                                <li>Any other item prohibited by law specifically or considered to be a risk to the
                                    safety and security of the venue and
                                    others are not allowed in the venue.</li>
                                <li>Any of the above items if brought by mistake, maybe left in your vehicle or will
                                    have to be thrown in a bin. There is no
                                    locker facility at the venue.</li>
                                <li>All unidentified objects must be reported to the security personnel or the police
                                    immediately</li>
                                <li>Children above 5 years require tickets. Below 5 years entry will be free.</li>
                                <li>The authorities have the right to take action against any misconduct.</li>
                                <li>Tickets once booked cannot be exchanged or refunded.</li>
                                <li>A surcharge would be applied on all online transactions at the time of payment, in
                                    accordance with guidelines provided
                                    by the organiser’s banking partner. This surcharge is not refundable in case of any
                                    cancellations.</li>

                            </ul>
                        </div>
                        <!-- <div class="col-md-12">
                            <h4>PAYMENT TERMS AND CONDITIONS</h4>
                            <ul>
                                <li>Once a User has accepted these Terms and Conditions, he/ she may register and avail
                                    the Services.</li>
                                <li>In these Terms and Conditions, the term “Charge Back” shall mean, approved and
                                    settled credit card or net banking
                                    purchase transaction(s) which are at any time refused, debited or charged back to
                                    merchant account (and shall also
                                    include similar debits to Payment Service Provider’s accounts, if any) by the
                                    acquiring bank or credit card company for
                                    any reason whatsoever, together with the bank fees, penalties and other charges
                                    incidental thereto.</li>
                                <li>Server Slow Down/Session Timeout: In case the App or Payment Service Provider’s
                                    webpage, that is linked to the App, is
                                    experiencing any server related issues like ‘slow down’ or ‘failure’ or ‘session
                                    timeout’, the User shall, before
                                    initiating the second payment, check whether his/her Bank Account has been debited
                                    or not and accordingly resort to one
                                    of the following options</li>
                                <li>The Merchant / Company and the Payment Service Provider(s) assume no liability
                                    whatsoever for any monetary or other
                                    damage suffered by the User on account of</li>
                                <li>The User agrees, understands and confirms that his/ her personal data including
                                    without limitation details relating to
                                    debit card/ credit card transmitted over the Internet may be susceptible to misuse,
                                    hacking, theft and/ or fraud and
                                    that the Merchant / Company or the Payment Service Provider(s) have no control over
                                    such matters.</li>
                                <li>Although all reasonable care has been taken towards guarding against unauthorized
                                    use of any information transmitted by
                                    the User, the Merchant / Company does not represent or guarantee that the use of the
                                    Services provided by/ through it
                                    will not result in theft and/or unauthorized use of data over the Internet.</li>
                                <li>The Merchant / Company, the Payment Service Provider(s) and its affiliates and
                                    associates shall not be liable, at any
                                    time, for any failure of performance, error, omission, interruption, deletion,
                                    defect, delay in operation or
                                    transmission, computer virus, communications line failure, theft or destruction or
                                    unauthorized access to, alteration
                                    of, or use of information contained on the App.</li>
                                <li>The User will be required to login his/ her own Mobile no & OTP based, created by
                                    the user after registering on the App
                                    / in order to register and/ or use the Services /Products provided by Merchant /
                                    Company on the App. By accepting these
                                    Terms and Conditions the User aggress that his/ her Mobile no & OTP based are very
                                    important pieces of information and
                                    it shall be the User’s own responsibility to keep them secure and confidential. In
                                    furtherance hereof, the User agrees
                                    to;
                                    Keep his/ her Mobile no & OTP strictly confidential.</li>

                            </ul>
                        </div>
                        <div class="col-md-12">
                            <h4>DEBIT/CREDIT CARD, BANK ACCOUNT DETAILS</h4>
                            <ul>
                                <li>The User agrees that the debit/credit card details provided by him/ her for use of
                                    the aforesaid Service(s) must be
                                    correct and accurate and that the User shall not use a debit/ credit card, that is
                                    not lawfully owned by him/ her or the
                                    use of which is not authorized by the lawful owner thereof. The User further agrees
                                    and undertakes to provide correct
                                    and valid debit/credit card details.</li>
                                <li>The User may make a payment Merchant / Company by using a debit/credit card or
                                    through online banking account. The User
                                    warrants, agrees and confirms that when he/she initiates a payment transaction
                                    and/or issues an online payment
                                    instruction and provides his/ her card / bank details:
                                    <ul>
                                        <li>The User is fully and lawfully entitled to use such credit / debit card,
                                            bank account for such transactions;</li>
                                        <li>The User is responsible to ensure that the card/ bank account details
                                            provided by him/ her are accurate;</li>
                                        <li>The User is authorizing debit of the nominated card/ bank account for the
                                            purchase of products selected by such User
                                            along with the applicable shipping charges.</li>
                                        <li>The User is responsible to ensure sufficient credit is available on the
                                            nominated card/ bank account at the time of
                                            making the payment to permit the payment of the dues payable or the bill(s)
                                            selected by the User inclusive of the
                                            applicable Fee.</li>
                                    </ul>
                                </li>
                                <li>Server Slow Down/Session Timeout: In case the App or Payment Service Provider’s
                                    webpage, that is linked to
                                    the App, is
                                    experiencing any server related issues like ‘slow down’ or ‘failure’ or ‘session
                                    timeout’, the User shall,
                                    before
                                    initiating the second payment, check whether his/her Bank Account has been debited
                                    or not and accordingly
                                    resort to one
                                    of the following options</li>
                                <li>The Merchant / Company and the Payment Service Provider(s) assume no liability
                                    whatsoever for any monetary
                                    or other
                                    damage suffered by the User on account of</li>
                                <li>The User agrees, understands and confirms that his/ her personal data including
                                    without limitation details
                                    relating to
                                    debit card/ credit card transmitted over the Internet may be susceptible to misuse,
                                    hacking, theft and/ or
                                    fraud and
                                    that the Merchant / Company or the Payment Service Provider(s) have no control over
                                    such matters.</li>
                                <li>Although all reasonable care has been taken towards guarding against unauthorized
                                    use of any information
                                    transmitted by
                                    the User, the Merchant / Company does not represent or guarantee that the use of the
                                    Services provided by/
                                    through it
                                    will not result in theft and/or unauthorized use of data over the Internet.</li>
                                <li>The Merchant / Company, the Payment Service Provider(s) and its affiliates and
                                    associates shall not be
                                    liable, at any
                                    time, for any failure of performance, error, omission, interruption, deletion,
                                    defect, delay in operation or
                                    transmission, computer virus, communications line failure, theft or destruction or
                                    unauthorized access to,
                                    alteration
                                    of, or use of information contained on the App.</li>
                                <li>The User will be required to login his/ her own Mobile no & OTP based, created by
                                    the user after registering
                                    on the App
                                    / in order to register and/ or use the Services /Products provided by Merchant /
                                    Company on the App. By
                                    accepting these
                                    Terms and Conditions the User aggress that his/ her Mobile no & OTP based are very
                                    important pieces of
                                    information and
                                    it shall be the User’s own responsibility to keep them secure and confidential. In
                                    furtherance hereof, the
                                    User agrees
                                    to;
                                    Keep his/ her Mobile no & OTP strictly confidential.</li>

                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>