<!-- <form (ngSubmit)="onSubmit(paymentForm)" #paymentForm="ngForm">
    <div>
      <label for="amount">Amount:</label>
      <input type="number" id="amount" name="amount" ngModel required>
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" ngModel required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" ngModel required>
    </div>
    <div>
      <label for="mobile">Mobile:</label>
      <input type="tel" id="mobile" name="mobile" ngModel required>
    </div>
    <button type="submit">Pay Now</button>
  </form> -->
<div>hello</div>
