<div id="content" role="main">
    <div class="app-content-body ">
      <!-- main header -->
      <div class="bg-blue lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h3 class="m-n font-thin text-white">Brand</h3>
          </div>
          <div class="col-sm-6 text-right poppins hidden-xs">
  
          </div>
        </div>
      </div>
      <!-- / main header -->
      <div class="wrapper-md">
        <div class="panel b-a">
          <div class="panel-body">
            <form role="form" [formGroup]="cropForm" autocomplete="off">
              <div class="row">
                <div class="col-md-12">
                    <legend>
                        <span class="font-weight-600">User Information</span>
                    </legend>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    
                <div class="col-md-4">
                  <div class="form-group">
                      <label class="control-label font-weight-600">Name</label>
                      <input type="text" formControlName="name" class="form-control" name="">
  
                  </div>
              </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label font-weight-600">Email</label>
                        <input type="text" formControlName="email" class="form-control" name="">
                     
                    </div>
                </div>
  
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label font-weight-600">Mobile</label>
                       
                        <input type="text" formControlName="mobile" class="form-control" name="">
                    </div>
                </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label font-weight-600">Password</label>
                        <input type="text"  class="form-control" formControlName="password" >
                       
                        
                    </div>
                </div>
              
              </div>
              </div>
            </div>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <hr />
              <div class="button-right">
                <div class="row">
                  <div class="col-md-12">
                    <a class="btn m-b-xs btn-md btn-success mr-5" style="margin-right:1.5px ;"
                      (click)="onSubmit()">Save</a>
  
                    <!-- <a class="btn m-b-xs btn-md btn-primary mr-5 " style="margin-right:1.5px ;"
                      (click)="onSubmitNew()">Save and New</a> -->
                    <a class="btn m-b-xs btn-md btn-default mr-5" style="margin-right:1.5px ;"
                      (click)="cancel()">Cancel</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  
    </div>
  
  
  </div>
