<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <!-- main header -->
        <div class="bg-blue lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="m-n font-thin text-white">Ticket Booking List</h3>
                </div>
                <div class="col-sm-6 text-right poppins hidden-xs">
                    <!-- <button class="btn btn-sm text-10 btn-primary m-r-xs report_print_triger"><i class="fa fa-print"></i>
            Print</button>
          <button class="btn btn-sm text-10 btn-info m-r-xs report_excel_triger"><i class="fa fa-file-excel-o"></i>
            XLSX</button> -->
                    <!-- <button class="btn btn-sm text-10 btn-success m-r-xs report_csv_triger"><i class="fa fa-plus"></i>
                        <a (click)="addUnit()">Add Unit</a></button> -->
                    <!-- <button class="btn btn-sm text-10 btn-info  m-r-xs report_print_triger"> <i class="fa fa-plus"></i>
                <a  href="/ro-add"> Product Category</a></button> -->
                    <!-- <div class="col-sm-6 text-right hidden-xs"> <a class="btn m-b-xs w-xs btn-sm btn-success" href="">Vehicle</a> </div> -->
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="row">
            <div class="col-md-12">
                <div class="card no-shadow">
                    <div class="tab-content bg-seashell">
                        <div role="tabpanel" class="tab-pane active g-py-0">
                            <div class="row row-xs" style="overflow: auto;">

                                <table class="table bg-white">
                                    <thead>
                                        <tr role="row">
                                            <!-- <th class="text-center">S.No</th> -->
                                            <th class="text-center">URN No</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Date </th>
                                            <th>Ticket Type </th>
                                            <th>CitizenType</th>
                                            <th>Price</th>
                                           
                                            <!-- <th class="text-center">Actions</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of getData; let i= index;">
                                            <!-- <td class="text-center">1</td> -->
                                            <td><span class="font-bold text-theme">{{data?.urnno}}</span> </td>
                                            <td><span class="font-bold text-theme">{{data?.name}}</span> </td>
                                            <td><span class="font-bold text-theme">{{data?.email}}</span> </td>
                                            <td>
                                                <span class="font-bold text-theme">{{data?.date}}</span> 
                                            </td>
                                            <td>
                                                <span class="font-bold text-theme">{{data?.ticketid?.tickettype}}</span> 
                                            </td>
                                            <td><span class="font-bold text-theme">{{data?.citizentype}}</span> </td>
                                            <td><span class="font-bold text-theme"><i class="fa fa-inr" aria-hidden="true">{{data?.price}}</i></span> </td>
                                            
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>