



<div class="container">
    <div id="content" role="main">
        <div class="app-content-body ">
            <div class="wrapper-md">
                <div class="panel b-a">
                    <div class="panel-body">
                   
                        <div class="col-md-12">
                            <div class="ticket-header">
                                <div class="ticket-logo">
                                    <img src="../../../assets/img/itpo-event/ITPO-cut.png" alt="">
                                    <span>Hey {{ EditData?.name}}, thank you for purchasing ticket. Please remember to carry a valid photo ID with you. We hope you have a great time!</span>
                                </div>
                                <!-- <div class="ticket-id">
                                    <ul>
                                        <li>BOOKING ID</li>
                                        <li class="id">{{ EditData?.urnno}}</li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="detail-card">
                                    <div class="col-md-6">
                                        <div class="ticket-img">
                                            <img src="../../../assets/img/itpo-event/IITFCircle.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ticket-detail">
                                            <h4>India International Trade Fair - 2022</h4>
                                            <!-- <p>DATE</p> -->
                                            <h6>{{ EditData?.date}}</h6>
                                            <p>VENUE</p>
                                            <h6>Pragati Maidan: New Delhi</h6>
                                            <p>CATEGORY:{{ EditData?.ticketid?.tickettype}}</p>
                                            <h6>{{ EditData?.citizentype}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="ticket-detail">
                                <!-- <p>DIRECTIONS</p> -->
                                <!-- <h6 class="date-h">04 & 10</h6> -->
                                <p class="date-p"></p>
                                <!-- <p>CATEGORY</p> -->
                                <!-- <h6>Adult - General Day</h6> -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="QR-img">
                                <!-- <p>Admit one</p> -->
                                <qr-code class="" [value]="id" [size]="200" ></qr-code> 
                                <h4>IITF{{id}}</h4> 
                            </div>
                            <div class="linebg"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row detail-all">
                                <div class="col-md-6">
                                    <div class="info-detail">
                                        <h5>India International Trade Fair - 2022</h5>
                                        <p>{{EditData?.date}}</p>
                                        <!-- <p>Adult - General Day</p> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="payment-detail">
                                        <!-- <h5 style="text-align: center;">PAYMENT DETAILS</h5> -->
                                        <table class="table">
                                            <tbody>
                                                <h5 class="head">PAYMENT DETAILS</h5>
                                                <tr>
                                                    <td style="width: 48%;"> Price</td>
                                                    <td>{{EditData?.price}}</td>
                                                </tr>
                                              
                                                <tr>
                                                    <td style="width: 48%; font-weight: 700;">Total</td>
                                                    <td style="font-weight: 700;">{{EditData?.price}}</td>
                                                </tr>
                                                <tr>
                                                    <!-- <td style="width: 48%;">{{EditData?.urnno}}</td> -->
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
                        <div class="col-md-12">
                            <div class="ticket-section">
                                <h4>Terms & Conditions</h4>
                                <p>THIS IS YOUR TICKET, DO NOT DUPLICATE, ONE ENTRY PER BARCODE</p>
                                <p>This ticket is issued on behalf of the Event Organizer responsible for the event and
                                    is subject to the following terms
                                    and conditions.</p>
                            </div>
                            <div class="ticket" style="position:relative;">
                                <img class="main-ticket" src="../../../assets/img/itpo-event/ticket.jpeg" alt="">
                                <!-- <span class="abs-img1" readonly
                                   
                                    type="text">{{id}}</span> -->
                                    <qr-code class="abs-img2" [value]="id" [size]="85"   ></qr-code>
                                <!-- <img class="abs-img2"
                                    style="position: absolute;top: 62.4px;border: none;width: 9.1%;height: 12.1%;right: 29rem;border-radius: 3px;"
                                    type="text" src="../../../assets/img/itpo-event/capture.png" alt=""> -->
                            </div>
                            <div class="list">
                                <ul style="padding: 0 0 0 20px;">
                                    <li>Age Limit: Open to all</li>
                                    <li>Entry to venue would be subject to security check.</li>
                                    <li>Each tickets is valid for 1 entry.</li>
                                    <li>Re-entry is not allowed.</li>
                                    <li>Visitors are advised not to carry large handbags, briefcases, large ladies
                                        handbags, backpacks, packets, etc.</li>
                                    <li>As smoking in public places is prohibited by law, please do not carry cigar,
                                        cigarette, beedi, race box, lighter etc.</li>
                                    <li>Any kind of cooked / uncooked, packed/unpacked food & beverages (both alcoholic
                                        and non-alcoholic) will not be allowed
                                        in the venue</li>
                                    <li>Glass/plastic containers, cans, bottles, smoke canister and any type of box will
                                        not be allowed in the venue</li>
                                    <li>Pets will not be allowed in the venue</li>
                                    <li>Any fire arm/weapon (even licensed) or any other object which can be used as a
                                        weapon, fireworks, crackers, flares,
                                        inflammable material, laser pointers etc is not allowed in the venue.</li>
                                    <li>Musical instruments and/or amplification equipment, whistles / loud hailers are
                                        not allowed in the venue</li>
                                    <li>Bicycle, scooter, skateboard, rollerblade etc. are not allowed in the venue</li>
                                    <li>Chairs, stools, small tables, flags with poles are not allowed in the venue</li>
                                    <li>Any other item prohibited by law specifically or considered to be a risk to the
                                        safety and security of the venue and
                                        others are not allowed in the venue.</li>
                                    <li>Any of the above items if brought by mistake, maybe left in your vehicle or will
                                        have to be thrown in a bin. There is no
                                        locker facility at the venue.</li>
                                    <li>All unidentified objects must be reported to the security personnel or the
                                        police immediately</li>
                                    <li>Children above 5 years require tickets. Below 5 years entry will be free.</li>
                                    <li>The authorities have the right to take action against any misconduct.</li>
                                    <li>Tickets once booked cannot be exchanged or refunded.</li>
                                    <li>A surcharge would be applied on all online transactions at the time of payment,
                                        in accordance with guidelines provided
                                        by the organiser’s banking partner. This surcharge is not refundable in case of
                                        any cancellations.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




