<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        
        <!-- main header -->
        <div class="bg-blue lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="m-n font-thin text-white">Scanned User List </h3>
                </div>
                <div class="col-sm-6 text-right poppins hidden-xs">
                    <!-- <button class="btn btn-sm text-10 btn-primary m-r-xs report_print_triger"><i class="fa fa-print"></i>
            Print</button>
          <button class="btn btn-sm text-10 btn-info m-r-xs report_excel_triger"><i class="fa fa-file-excel-o"></i>
            XLSX</button> -->
                    <!-- <button class="btn btn-sm text-10 btn-success m-r-xs report_csv_triger"><i class="fa fa-plus"></i>
                        <a (click)="addUnit()">Add Unit</a></button> -->
                    <!-- <button class="btn btn-sm text-10 btn-info  m-r-xs report_print_triger"> <i class="fa fa-plus"></i>
                <a  href="/ro-add"> Product Category</a></button> -->
                    <!-- <div class="col-sm-6 text-right hidden-xs"> <a class="btn m-b-xs w-xs btn-sm btn-success" href="">Vehicle</a> </div> -->
                </div>
            </div>
        </div>
        <!-- / main header -->
        <form role="form" [formGroup]="kisanmitra" autocomplete="off">
        <div class="row">
            <div class="col-md-12">
                <div class="card no-shadow">
                    <div class="tab-content bg-seashell">
                        <div role="tabpanel" class="tab-pane active g-py-0">
                            <div class="row row-xs" style="overflow: auto;">

                                <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table bg-white">
                                    <thead>
                                        <tr role="row">
                                            <!-- <th class="text-center">S.No</th> -->
                                            <th>URN</th>
                                            <!-- <th>Participant</th> -->
                                            <th>Scanned By</th>
                                            <th>Date</th>
                                            <th>Scanned Time</th>
                                            <!-- <th>Type</th> -->
                                            <!-- <th class="text-center">Actions</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of languageData ;let i=
                                        index">
                                            
                                            <td><span class="font-bold text-theme">{{item.urnno}}</span> </td>
                                         
                                            <td><span class="font-bold text-theme">{{item.userid}} </span> </td>
                                            <td><span class="font-bold text-theme">{{item.date}}</span> </td>
                                            <td><span class="font-bold text-theme">{{item.updatedAt.slice(0,50)}}</span> </td>
                                         
                                          
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    </div>


</div>