<div class="banner">
  <img src="../../../assets/img/itpo-event/IITF_WebBanner.jpg" alt="" />
</div>

<div class="container">
    <div id="content" role="main">
        <div class="app-content-body ">

            <div class="" style="margin: 4rem 0;">
                <div class="row row-flex">
                    
                    <div class="col-md-12">
                        <div class="card content">
                            <div class="header-tital">
                                <h3>Daily Ticket</h3>
                            </div>
                            <div class="ticket-data">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th><i class="fa fa-ticket" aria-hidden="true"></i> Ticket Name</th>
                                            <th><i class="fa fa-inr" aria-hidden="true"></i> Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="font-bold">Adult Daily Passes (25th Feb - 05th Mar)</td>
                                            <td class="text-theme font-bold"><i class="fa fa-inr"
                                                    aria-hidden="true"></i> 20</td>
                                        </tr>
                                        <tr>
                                            <td class="font-bold">Child Daily Passes  (25th Feb - 05th Mar)</td>
                                            <td class="text-theme font-bold"><i class="fa fa-inr"
                                                    aria-hidden="true"></i> 10</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-md-12">
                        <a (click)="bookticket()" name="" id="" class="btn book-now" role="button">Book Now</a>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <a
              (click)="bookticket()"
              name=""
              id=""
              class="btn book-now"
              role="button"
              >Book Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
