<div class="container">
    <div id="content" role="main">
        <div class="app-content-body ">
            <div class="wrapper-md">
                <div class="panel b-a">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <legend>
                                <span class="font-weight-600">Privacy Policy</span>
                            </legend>
                        </div>
                        <div class="col-md-12">
                            <h4>GENERAL</h4>
                            <ul>
                                <li>We are committed to protecting and respecting your privacy. We do collect your personal information and process your personal data in accordance with Indian laws which relate to the processing of personal data. </li>
                                <li>We collect your personal information in order to provide and continually improve our products and services.</li>
                            <li>Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.</li>
                            <li>Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.</li>
                           <li>We collect information primarily to provide better services to all of our customers.</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <h4>DATA SECURITY</h4>
                            <ul>
                                <li>We take due care to protect customer data. Technical measures are in place to prevent unauthorized or unlawful access to data and against accidental loss or destruction of data. The employees who are dealing with the data have been trained to protect the data from any illegal or unauthorized usage.</li>
                                <li>We maintain physical, electronic and procedural safeguards in connection with the collection, storage, and disclosure of personal customer information.</li>
                                <li>We take reasonable steps to help protect your personal information in an effort to prevent the loss, misuse, unauthorized access, disclosure alteration and destruction. It is your responsibility to protect your user names and passwords to help prevent anyone from accessing or abusing your accounts and services. You should not use or reuse the same passwords you use with other accounts as your password for our services.</li>
                                <li>It is important for you to protect unauthorized access to your password and your computers, devices, and applications. Be sure to sign off when you plan to change your device</li>
                                <li>Information you provide to us is shared on our secure servers. We have implemented appropriate physical, technical and organizational measures designed to secure your information against accidental loss and unauthorized access, use, alteration or disclosure. In addition, we limit access to personal data to those employees, agents, contractors, and other third parties that have a legitimate business need for such access.</li>
                                <li>Information collected from you will be stored for such period as required to complete the transaction entered into with you or such period as mandated under the applicable laws.</li>
                               
                        
                        
                            </ul>
                        </div>
                     
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>