<div class="container">
  <div id="content" role="main">
      <div class="app-content-body ">
          <div class="wrapper-md">
              <div class="panel b-a">
                  <div class="panel-body">
                      <!-- <div class="col-md-12">
                          <legend>
                              <span class="font-weight-600">Contact Us</span>
                          </legend>
                      </div> -->
                      <div class="col-md-12">
                        <div>

                          <h2 style="text-align:center; color: green;">Your booking is confirmed! </h2>
                          <h5 style="text-align:center; color: #000;">Please Check Your Mail</h5>

                        </div>
                      </div>
                      <!-- <div class="col-md-6">
                          <div class="contact-box">
                              <div class="contact-cont">
                                  <h4>Regional Office-MUMBAI</h4>
                              <P>7, Cooperage Road, 3rd Floor, Jhansi Castle</P>
                              <P>Mumbai - 400001 (INDIA)</P>
                              <P>CIN:</P>
                              <P>Tel. : 91- 22-22026629, 22822196, 22044922</P>
                              <P>Fax : 91-22-22044922</P>
                              <P>E-mail : <a href="mailto:bgsonkamble[at]itpo[dot]gov[dot]in,romumbai[at]itpo[dot]gov[dot]in">bgsonkamble[at]itpo[dot]gov[dot]in,romumbai[at]itpo[dot]gov[dot]in</a></P>

                              </div>
                          </div>
                      </div> -->
                  </div>
              </div>
          </div>

      </div>


  </div>
</div>


