<div class="container">
    <div id="content" role="main">
        <div class="app-content-body ">
            <div class="wrapper-md">
                <div class="panel b-a">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <legend>
                                <span class="font-weight-600">Contact Us</span>
                            </legend>
                        </div>
                        <div class="col-md-12">
                           
                            <p>Once the user has purchased the ticket(s) and paid the fee online through payment gateway, he/she will not be able to cancel the booking under any circumstances. No requests for cancellation/refund will be entertained for such cases</p>

                        </div>
                        <div class="col-md-12">
                           
                            <p>In the event there is any claim for/ of charge back by the customer for any reason whatsoever, such customer shall immediately contact ITPO with his/ her claim details. Any such request has to be sent through email to “info[at]itpo[dot]gov[dot]in” from the registered email address used while purchasing the entry ticket(s).</p>
                        
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>