<!--
<section class="temp-sec">
  <div class="container">
      <div class="main-body top-body">
          <div class="bg-top">
              <img src="./assets/img/complete.jpg" alt="">
          </div>

      </div>
      <div class="main-body">
          <div class="main-head">
              <h2>STRATEGIC WORKSHOP ON SWACHH BHARAT MISSION</h2>
          </div>
          <div class="inner-body">
              <div class="qr-img">

                  <qr-code [value]="this.id" [size]="300"></qr-code>
              </div>
              <div *ngIf="data?.batchid" class="qr-code">
                  <p>SBM ID:{{data?.batchid}}</p>
              </div>
              <div *ngIf="data?.name" class="qr-name">
                  <h4>Name :{{data?.name}}</h4>
              </div>
              <div *ngIf="data?.designation" class="qr-dig">
                   <h6>Designation :{{data?.designation}}</h6>
              </div>
              <div *ngIf="data?.Belhara" class="qr-ulb">
                  <h6>ULB :{{data?.Belhara}}</h6>
              </div>
              <div *ngIf="data?.district" class="qr-district">
                  <h6>District :{{data?.district}}</h6>
              </div>

          </div>
      </div>
      <div class="footer1">
          <img src="./assets/./img/./bg.jpg" alt="">
          <div></div>
          <div class="hashtag">
              <h6>#<span class="hara">HaraGeela</span><span class="nila">SookhaNeela</span></h6>
          </div>
      </div>
      <div class="footer">
          <div class="venue">
              <h5>Venue: </h5>
              <p> Vishakha Auditorium, Directorate of Urban Local Bdies,<br>Gomti Nagar Extention, Lucknow, UP
              </p>
          </div>
          <div class="date">
              <h6>Date: 04 Nov 2022</h6>
          </div>
      </div>
  </div>

</section> -->
<section class="temp-sec">
  <div class="container">
      <div class="main-body top-body">
          <div class="bg-top">
              <img src="./assets/img/complete.jpg" alt="">
          </div>

      </div>
      <div class="main-body1">
          <div class="main-head">
              <h2>STRATEGIC WORKSHOP ON SWACHH BHARAT MISSION</h2>
          </div>
          <div class="inner-body">
              <div class="qr-img">
               
              </div>
              <div *ngIf="data?.batchid" >
                <p>SBM ID: {{data?.batchid}}</p>
            </div>
            <div *ngIf="data?.name" class="qr-name">
                <h4>Name: {{data?.name}}</h4>
            </div>
            <div *ngIf="data?.designation" class="qr-dig">
                 <h6>Designation: {{data?.designation}}</h6>
            </div>
            <div *ngIf="data?.Belhara" class="qr-ulb">
                <h6>ULB: {{data?.Belhara}}</h6>
            </div>
            <div *ngIf="data?.district" class="qr-district">
                <h6>District: {{data?.district}}</h6>
            </div>
          </div>
      </div>
      <div class="footer1">
          <img src="./assets/./img/./bg.jpg" alt="">
          <div></div>
          <div class="hashtag">
              <h6>#<span class="hara">HaraGeela</span><span class="nila">SookhaNeela</span></h6>
          </div>
      </div>
      <div class="footer">
          <div class="venue">
              <h5>Venue: </h5>
              <p> Vishakha Auditorium, Directorate of Urban Local Bodies, Gomti Nagar Extention, Lucknow, UP
              </p>
          </div>
          <div class="date">
              <h6>Date: 04 Nov 2022</h6>
          </div>
      </div>
  </div>
</section>
