<aside id="aside" class="app-aside hidden-xs bg-blue">
  <div class="aside-wrap" id="sidebar">
    <div class="navi-wrap">
      <!-- nav -->
      <nav ui-nav class="navi clearfix" id="leftmenuinnerinner">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm font-bold text-10"> <span>NAVIGATION</span> </li>
          <li> <a href="/dashboard" class="active"> <i class="glyphicon glyphicon-th-large"></i> <span>Dashboard</span> </a> </li>
          <li> <a href="/dashboard/booking-list" class="active"> <i class="glyphicon glyphicon-th-large"></i> <span>Ticket Booking List</span> </a> </li>
          <li> <a href="/dashboard/scanned-list" class="active"> <i class="glyphicon glyphicon-th-large"></i> <span>Scanned User List</span>
            </a> </li>


          <li> <a href="/dashboard/purchase/brand/list" class="active"> <i class="glyphicon glyphicon-th-large"></i> <span>Verifier User</span> </a> </li>
         
          <!-- <li> <a href="/dashboard/purchase/registartion/add"> <i class="fa fa-user"></i><span> Registration</span> </a> </li> -->

          <!-- <li> <a href="/dashboard/farmer/newprofile"> <i class="fa fa-user"></i><span> Profile List</span> </a> </li> -->



       
         
          
          
         
          <li class="line dk"></li>

          <li class="hidden-folded padder m-t m-b-sm font-bold text-10"> <span>LOGOUT</span> </li>
          <li> <a (click)="logout()"> <i class="fa fa-power-off"></i> <span>Logout </span> </a> </li>
          <li class="line dk"></li>
        </ul>
      </nav>
      <!-- nav -->
      <!-- aside footer -->
      <!-- <div class="wrapper-sm poppins">
        <div class="text-center-folded text-center">
          <p class="hidden-folded text-xs m-b-xs">
            Need help ?
            <a href="https://www.troology.com/" target="_blank" class="font-weight-600">Contact us</a>
          </p>
          <p class="hidden-folded text-xs m-b-md">
            <a href="https://www.troology.com/" target="_blank"><i class="fa fa-bug"></i> Report a bug?</a>
          </p>
          <img src="../../assets/img/troology-logo.png"  class="center-block img-responsive" width="75px" />

          <hr style="margin: 10px 0;" />
          <p class="hidden-folded text-10 font-weight-600 text-uppercase m-b-xs">
            <a href="">Support Manual</a>
          </p>
          <p class="hidden-folded text-10 font-weight-600 text-uppercase m-b-xs">
            <a href="">Copyright Information</a>
          </p>
        </div>
      </div> -->
      <!-- / aside footer -->
    </div>
  </div>
</aside>
