<div class="container">
    <div id="content" role="main">
        <div class="app-content-body ">
            <div class="wrapper-md">
                <div class="panel b-a">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <legend>
                                <span class="font-weight-600">Contact Us</span>
                            </legend>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-box">
                                <div class="contact-cont">
                                    <h4>Head Office-DELHI</h4>
                                    <P>Pragati Bhawan, Pragati Maidan</P>
                                     <P>New Delhi-110001 (INDIA)</P>
                                      <P>CIN: U74899DL1976NPL008453</P>
                                       <P>Tel. : 91-11-23371540 (EPABX)</P>
                                        <P>E-mail : <a href="info[at]itpo[dot]gov[dot]in">info[at]itpo[dot]gov[dot]in</a></P>
                                         <P>Website : <a href="http://www.indiatradefair.com">http://www.indiatradefair.com</a></P>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="contact-box">
                                <div class="contact-cont">
                                    <h4>Regional Office-MUMBAI</h4>
                                <P>7, Cooperage Road, 3rd Floor, Jhansi Castle</P>
                                <P>Mumbai - 400001 (INDIA)</P>
                                <P>CIN:</P>
                                <P>Tel. : 91- 22-22026629, 22822196, 22044922</P>
                                <P>Fax : 91-22-22044922</P>
                                <P>E-mail : <a href="mailto:bgsonkamble[at]itpo[dot]gov[dot]in,romumbai[at]itpo[dot]gov[dot]in">bgsonkamble[at]itpo[dot]gov[dot]in,romumbai[at]itpo[dot]gov[dot]in</a></P>
                                
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>