<div class="container">
<div id="content" role="main">
    <div class="app-content-body ">
        <!-- main header -->
        <!-- <div class="bg-blue lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="m-n font-thin text-white">Brand</h3>
                </div>
                <div class="col-sm-6 text-right poppins hidden-xs">

                </div>
            </div>
        </div> -->
        <!-- / main header -->
        <div class="wrapper-md">
            <div class="panel b-a">
                <div class="panel-body">
                    <div class="col-md-12">
                        <legend>
                            <span class="font-weight-600">About Us</span>
                        </legend>
                    </div>
                    <div class="col-md-12">
                        <p>
                            India Trade Promotion Organisation(ITPO) , the premier trade promotion enterprise of the Ministry of Commerce &
                            Industry, Government of India is committed to showcase excellence achieved by the country in diverse fields especially
                            trade and commerce. Its mission is to promote, facilitate, encourage and coordinate various activities and programmes to
                            enhance India’s share of exports. ITPO provides a wide spectrum of services to trade and industry and acts as a catalyst
                            for growth of India's trade and commerce.
                        </p>
                            
                            <p>The company is registered under section 25 of the Company Act, 1956 (now ection 8 of the Companies Act 2013). It was
                            formed subsequently on January 1, 1992 with the merger of the former Trade Development Authority (TDA) with the Trade
                            Fair Authority of India (TFAI). Significantly, grown with every business event in stature and dimension, Pragati Maidan,
                            headquarter of the ITPO which is considered as a symbol of the “Modern Fair Culture” in South-Asia region. ITPO manages
                            India's world class exhibition complex which is constantly upgraded to keep it in a high standard of readiness.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <h4>About Exhibition:</h4>
                        <p>IITF - India International Trade Fair 2022 will be held from 14th - 27th Nov, 2022 at Pragati
                            Maidan, New Delhi, India
                            which is being a multi-product exhibition has on display a wide range of products and
                            services. This expo is the largest
                            and biggest dedicated trade fair with B2B and B2C components and has emerged as the biggest
                            consumer goods fair in the
                            Indian sub-continent.</p>
                    </div>
                    <div class="col-md-12">
                        <h4>About Venue:</h4>
                        <p>Pragati Maidan is one of the largest venue in India.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
</div>