<div class="container">
  <div id="content" role="main">
    <div class="app-content-body">
      <div class="wrapper-md">
        <div class="panel b-a">
          <div class="panel-body">
            <div class="col-md-12">
              <legend>
                <span class="font-weight-600">Add Ticket Detail</span>
                <!-- <span class="font-weight-600">Add Ticket Details</span> -->
              </legend>
            </div>
            <form [formGroup]="myForm">
              <div formArrayName="arr">
                <div *ngFor="let employee of employees.controls; let i = index">
                  <div
                    [formGroupName]="i"
                    class="col-md-12 form_field_outer p-0"
                  >
                    <div class="row form_field_outer_row">
                      <div class="form-group col-md-3">
                        <select
                          
                          formControlName="ticketid"
                          class="form-control"
                          (change)="calculate(i)"
                        >
                          <option value="0">
                          Choose citizen type
                          </option><option value="20">
                            Adult
                          </option>
                          <option value="10">
                            Child
                          </option>
                        </select>
                      </div>
                      <div
                        class="form-group col-md-2"
                        *ngIf="
                          employee.value.ticketid === '636b017790351e553fa1afab'
                        "
                      >
                        <input
                          name="date"
                          min="2022-11-14 | date:'yyyy-MM-dd'"
                          max="2022-11-27 | date:'yyyy-MM-dd'"
                          formControlName="date"
                          type="date"
                          class="form-control w_90"
                          placeholder=""
                          (change)="getState(i)"
                        />
                      </div>
                      <div
                        class="form-group col-md-2"
                        *ngIf="
                          employee.value.ticketid === '636b017790351e553fa1afab'
                        "
                      >
                        <select
                          name="gender"
                          formControlName="citizentype"
                          class="form-control"
                          (change)="getState(i)"
                        >
                          <option>--Select Citizen Type--</option>
                          <option value="A">Adult</option>
                          <option value="C">Child</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <div class="counter-velue">
                          <button
                            class="btn btn-default"
                            (click)="decrement(i)"
                            
                          >
                            -
                          </button>
                          <input 
                            class="form-control"
                            readonly
                            style="
                              border: 1px solid #cfdadd;
                              border-radius: 0%;
                              text-align: center;
                            "
                            formControlName="count"
                            type="text"
                            readonly
                            
                          />
                          <button
                            class="btn btn-default"
                            (click)="increment(i)"
                            
                          >
                            +
                          </button>
                        </div>
                      </div>
                      <div class="form-group col-md-2">
                        <input
                        id="totalPre"
                          readonly
                          name="total"
                          formControlName="totalPrice"
                          type="text"
                          class="form-control w_90"
                          placeholder="Amount"
                        />
                      </div>

                      <div class="form-group col-md-1">
                        <!-- <button class="btn btn-default btn_round add_node_btn_frm_field" title="Copy or clone this row">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </button> -->

                        <button
                          *ngIf="i != 0"
                          type="button"
                          (click)="removeItem(i)"
                          class="btn btn-default"
                        >
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <button (click)="addItem()" class="btn btn-outline-lite">
                  <i class="fa fa-plus" aria-hidden="true"></i> Add New
                </button>
                <!-- <button style="margin-left: 1rem; background-color: #c99740; color: #ffffff;" class="btn btn-outline-lite" (click)="onSubmit()">Submit</button> -->
              </div>
              <div class="col-md-12">
                <div class="row row-flex">
                  <div class="col-md-6">
                    <div class="card content">
                      <div class="header-tital">
                        <h3>Billing Detail</h3>
                      </div>
                      <div class="ticket-data">
                        <div class="detail">
                          <div class="form-group">
                            <label for="name">First Name</label>
                            <input
                              type="text"
                              formControlName="name"
                              class="form-control"
                            />
                          </div>
                          <div class="form-group">
                            <label for="name">Email</label>
                            <input
                              type="email"
                              class="form-control"
                              formControlName="email"
                            />
                          </div>
                          <div class="form-group">
                            <label for="name">Mob. Number</label>
                            <input
                              type="Number"
                              class="form-control"
                              formControlName="mobile"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="content">
                      <div class="header-title">
                        <h3>Cart Detail</h3>
                      </div>
                      <div class="payment-total">
                        <div class="ticket-data">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Total Ticket</th>
                                <th>{{ myForm.value.totalTicket }}</th>
                              </tr>
                              <tr>
                                <th>Total Amount</th>
                                <th>
                                  <i class="fa fa-inr" aria-hidden="true"></i
                                  >{{ myForm.value.totalPrice }}
                                </th>
                              </tr>
                            </thead>
                            <!-- <tbody>
                                                        <tr>
                                                            <td class="font-bold">Adult Business Days (14th - 18th Nov)
                                                            </td>
                                                            <td class="text-theme font-bold"><i class="fa fa-inr"
                                                                    aria-hidden="true"></i> 500</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-bold">Adult Non-Business Weekend Days (19,
                                                                20, 26, 27
                                                                November)
                                                            </td>
                                                            <td class="text-theme font-bold"><i class="fa fa-inr"
                                                                    aria-hidden="true"></i> 150</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-bold">Child Business Days (14th - 18th Nov)
                                                            </td>
                                                            <td class="text-theme font-bold"><i class="fa fa-inr"
                                                                    aria-hidden="true"></i> 150</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-bold">Adult Non-Business Week Days (21st -
                                                                25th Nov)</td>
                                                            <td class="text-theme font-bold"><i class="fa fa-inr"
                                                                    aria-hidden="true"></i> 80</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-bold">Child Non-Business Weekend Days (19,
                                                                20, 26, 27,
                                                                November)</td>
                                                            <td class="text-theme font-bold"><i class="fa fa-inr"
                                                                    aria-hidden="true"></i> 60</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-bold">Child Non-Business Week Days (21st -
                                                                25th Nov)</td>
                                                            <td class="text-theme font-bold"><i class="fa fa-inr"
                                                                    aria-hidden="true"></i> 40</td>
                                                        </tr>
                                                    </tbody> -->
                          </table>
                        </div>
                        <!-- <div class="Proceed-pay">
                                                    <a name="" id="" class="btn btn-default" href="#" role="button" (click)="onSubmit()">Proceed
                                                        To Pay <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                                </div> -->
                        <button
                          style="
                            margin-left: 1rem;
                            background-color: #c99740;
                            color: #ffffff;
                          "
                          class="btn btn-outline-lite"
                          data-toggle="modal"
                          data-target="#exampleModal"
                          (click)="onSubmit()"
                          [disabled]="myForm.valid == true ? false : true"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="parmasData">
  <!-- <form
    id="paymentForm"
    method="GET"
    action="https://eazypay.icicibank.com/EazyPG?encRequest="
  >
     <input type="hidden" name="merchantid" value="234165">
        <input type="hidden" name="mandatory fields" value="456789|45|10|x|x|x|x">
        <input type="hidden" name="optional fields" value="">
        <input type="hidden" name="returnurl" value="https://onlinespacebooking.indiatradefair.com/litf2k20/frontend/web/site/payresponse">
        <input type="hidden" name="Reference No" value="456789">
        <input type="hidden" name="submerchantid" value="45">
        <input type="hidden" name="transaction amount" value={{myForm.value.totalPrice}}>
        <input type="hidden" name="paymode" value="9">
        <input type="submit" value="Proceed to Payment">
        <input type="hidden" name="encRequest" id="encRequest">

   
  </form> -->
  <form id="icici" method="GET" action="https://eazypay.icicibank.com/EazyPG?">
    <input type="hidden" name="merchantid" value="234165" />
    <input type="hidden" name="mandatory fields" value="456789|45|10|x|x|x|x" />
    <input type="hidden" name="optional fields" value="" />
    <input
      type="hidden"
      name="returnurl"
      value="https://onlinespacebooking.indiatradefair.com/litf2k20/frontend/web/site/payresponse"
    />
    <input type="hidden" name="Reference No" value="456789" />
    <input type="hidden" name="submerchantid" value="45" />
    <input
      type="hidden"
      name="transaction amount"
      value="{{ myForm.value.totalPrice }}"
    />
    <input type="hidden" name="paymode" value="9" />
    <!-- <input type="hidden" name="encRequest" id="encRequest" /> -->
    <input type="submit" value="Proceed to Payment" onsubmit="onFormSubmit()" />
  </form>

  <!-- <script>
    function encryptData(event) {
      event.preventDefault();

      const key = "23000729416001260";
      const form = document.getElementById("paymentForm");

      // Retrieve form data as an object
      const formData = Object.fromEntries(new FormData(form).entries());

      // Remove undefined or empty fields from the formData object
      Object.keys(formData).forEach(
        (key) =>
          (formData[key] === undefined || formData[key] === "") &&
          delete formData[key]
      );

      // Convert the formData object to a query string
      const queryString = new URLSearchParams(formData).toString();

      // Encrypt the query string using AES
      const encryptedData = CryptoJS.AES.encrypt(queryString, key).toString();

      // Update the form action with the encrypted data as a query parameter
      form.action = `https://eazypay.icicibank.com/EazyPG?${encodeURIComponent(
        encryptedData
      )}`;

      // Submit the form
      form.submit();
    }
  </script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
  <script>
    const form = document.querySelector("#paymentForm");
    const key = "23000729416001260"; // AES encryption key

    form.addEventListener("submit", (event) => {
      event.preventDefault();

      // Encrypt data
      const data = {
        merchantid: form.querySelector('input[name="merchantid"]').value,
        "mandatory fields": form.querySelector('input[name="mandatory fields"]')
          .value,
        "optional fields": form.querySelector('input[name="optional fields"]')
          .value,
        returnurl: form.querySelector('input[name="returnurl"]').value,
        "Reference No": form.querySelector('input[name="Reference No"]').value,
        submerchantid: form.querySelector('input[name="submerchantid"]').value,
        "transaction amount": form.querySelector(
          'input[name="transaction amount"]'
        ).value,
        paymode: form.querySelector('input[name="paymode"]').value,
      };
      const encryptedData = CryptoJS.AES.encrypt(
        JSON.stringify(data),
        key
      ).toString();

      // Set encrypted data in form field
      const encRequestField = form.querySelector('input[name="encRequest"]');
      encRequestField.value = encryptedData;

      // Submit form
      form.submit();
    });
  </script> -->
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div
        class="modal-header"
        style="
          background: repeating-linear-gradient(
            45deg,
            #3c0002,
            #3c0002 30px,
            #4c0708 30px,
            #4c0708 50px
          );
          border-radius: 4px 4px 0 0;
        "
      >
        <!-- <span class="modal-title" id="exampleModalLabel" style="font-size: 2rem;">Go For Payment</span> -->
        <button
          style="color: #ffffff"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 style="color: #000000">Are You Sure To Make This Payment ?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          style="background-color: #c99740; color: #ffffff"
          (click)="onFormSubmit()"
        >
          Go for Payment
        </button>
      </div>
    </div>
  </div>
</div>
